.body-container {
    /* height: 200vh; */
    /* width: 100%; */
    /* border: 1px solid red; */
    display: flex;
    padding: 50px;
    flex-direction: column;
    background: linear-gradient(to right bottom, black, rgb(8, 14, 7), rgb(0, 15, 0) 99%);
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.vindermere-container {
    padding: 30px;
    height: 500px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.vin-pic {
    border: 10px solid rgb(0, 44, 0);
    border: 10px solid rgb(0, 44, 0);
    height: 100%;
    width: 47%;
    background: url('./vindermere-screenshot.png');
    background-size: 250%;
    background-position: center;
}

.vin-info-container {
    width: 47%;
    height: 100%;
    /* border: 1px solid red; */
}

.vin-title {
    padding: 9px;
    /* padding-bottom: 9px; */
    /* border: 1px solid black; */
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 8px;
    background: linear-gradient(to left, darkgreen, rgb(0, 44, 0));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vin-info-body {
    display: flex;
    padding: 5px;
    /* border: 1px solid purple; */
    height: 40%;
}

.vin-built-with {
    margin-right: 10px;
    width: 45%;
    /* border: 1px solid green; */
}

.vin-summary {
    /* border: 1px solid green; */
    width: 45%;
}

.vin-challenges {
    padding: 5px;
}.game-ryan-challenges {
    padding: 5px;
}.chord-finder-challenges {
    padding: 5px;
}

.game-ryan-container {
    padding: 30px;
    height: 500px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.game-ryan-pic {
    border: 10px solid rgb(0, 44, 0);
    height: 100%;
    width: 47%;
    background: url('./gameryan-screenshot.png');
    background-size: 145%;
    background-position: center;
}

.game-ryan-info-container {
    width: 47%;
    height: 100%;
    /* border: 1px solid red; */
}

.game-ryan-title {
    padding: 9px;
    /* padding-bottom: 9px; */
    /* border: 1px solid black; */
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 8px;
    text-align: end;
    background: linear-gradient(to right, darkgreen, rgb(0, 44, 0));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-ryan-info-body {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    /* border: 1px solid purple; */
    height: 40%;
}

.game-ryan-built-with {
    width: 45%;
    margin-right: 10px;
    /* border: 1px solid green; */
}

.game-ryan-summary {
    width: 45%;
    /* border: 1px solid green; */
}

.chord-finder-container {
    padding: 30px;
    height: 500px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.chord-finder-pic {
    border: 10px solid rgb(0, 44, 0);
    height: 100%;
    width: 47%;
    background: url('./2020-05-19\ \(5\).png');
    background-size: 145%;
    background-position-x: start;
}

.chord-finder-info-container {
    width: 47%;
    height: 100%;
    /* border: 1px solid black; */
}

.chord-finder-title {
    padding: 9px;
    /* padding-bottom: 9px; */
    /* border: 1px solid black; */
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 8px;
    background: linear-gradient(to left, darkgreen, rgb(0, 44, 0));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chord-finder-info-body {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    /* border: 1px solid purple; */
    height: 40%;
}

.chord-finder-built-with {
    width: 45%;
    margin-right: 10px;
    /* border: 1px solid green; */
}

.chord-finder-summary {
    width: 45%;
    /* border: 1px solid green; */
}
